**.mmode_tools/
*.pyc
*.python-version
**./src/mmode_tools.egg-info/
*.DS_Store
*src/mmode_tools/config/default_config.toml

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
SOURCES.txt
PKG-INFO
entry_points.txt
src/mmode_tools.egg-info/entry_points.txt
src/mmode_tools/config/default_config.toml
src/mmode_tools.egg-info/PKG-INFO
src/mmode_tools.egg-info/SOURCES.txt
src/mmode_tools/data/mwa_full_embedded_element_pattern.h5
.vscode/settings.json
