**.mmode_tools/
*.pyc
*.python-version
**mmode_tools.egg-info/
*.DS_Store
*src/mmode_tools/config/default_config.toml

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg